.container {
  box-shadow: var(--shadow-extra-small);
  padding: 0 var(--sp-4x);
  background: var(--accents-1);
  height: var(--nav-height);
  position: sticky;
  top: 0;
  z-index: 3;
}

.flex,
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sp-8x);
}

.container h1 {
  font-size: 2rem;
}

.button {
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
  color: var(--foreground);
  font-size: 1em;
}

.search {
  background: var(--accents-2);
  border: solid 1px var(--accents-3);
  border-radius: 4px;
  flex-grow: 1;
  padding: 0 var(--sp-4x);
  display: flex;
  align-items: center;
  gap: var(--sp-2x);
}

.search input {
  flex-grow: 1;
  padding: var(--sp-2x);
  border: none;
  outline: none;
  background: none;
  color: var(--foreground);
  font-size: 1em;
}

.searchIcon {
  color: var(--foreground);
}
